@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.landing-page {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  width: 100%;
  color: rgb(254, 199, 19);
  background-color: rgb(21, 1, 69);
  border-bottom: 1px solid;
  padding: 1rem;
}

.bg-image {
  position: absolute;
  left: 4rem;
  top: 0.5rem;
  border-radius: 50%;
}
.header-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  color: rgb(254, 199, 19);
  display: flex;
  flex-direction: column;
}
.title::after {
  content: "We preserve your memories";
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  display: block;
  margin-left: 1rem; /* No space between title and tagline */
  font-size: 0.5em; /* Adjust size for tagline */
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(254, 199, 19), #fff, rgb(254, 199, 19));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
